--
-- PostgreSQL database dump
--

\restrict p2cmWEOoBNQiNm4AqIkt74doaNspkxjKmOAgC822RFjRDa9eaMyPBEf7pPd90bK

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: listing_type; Type: TYPE; Schema: public; Owner: ai_user
--

CREATE TYPE public.listing_type AS ENUM (
    'sale',
    'demand',
    'contract'
);


ALTER TYPE public.listing_type OWNER TO ai_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_tokens; Type: TABLE; Schema: public; Owner: ai_user
--

CREATE TABLE public.access_tokens (
    id integer NOT NULL,
    token character varying(64) NOT NULL,
    expires_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.access_tokens OWNER TO ai_user;

--
-- Name: access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_user
--

CREATE SEQUENCE public.access_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.access_tokens_id_seq OWNER TO ai_user;

--
-- Name: access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_user
--

ALTER SEQUENCE public.access_tokens_id_seq OWNED BY public.access_tokens.id;


--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: ai_user
--

CREATE TABLE public.audit_log (
    id integer NOT NULL,
    actor character varying(255),
    action character varying(128) NOT NULL,
    resource character varying(128),
    payload json,
    result character varying(128),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_log OWNER TO ai_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_user
--

CREATE SEQUENCE public.audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_log_id_seq OWNER TO ai_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_user
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: ai_user
--

CREATE TABLE public.chat_messages (
    id integer NOT NULL,
    telegram_id character varying(64) NOT NULL,
    role character varying(16) NOT NULL,
    text text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.chat_messages OWNER TO ai_user;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_user
--

CREATE SEQUENCE public.chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_messages_id_seq OWNER TO ai_user;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_user
--

ALTER SEQUENCE public.chat_messages_id_seq OWNED BY public.chat_messages.id;


--
-- Name: listings; Type: TABLE; Schema: public; Owner: ai_user
--

CREATE TABLE public.listings (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    characteristics json,
    quantity integer,
    price numeric(14,2),
    location character varying(255),
    contact character varying(255),
    photo_links json,
    type public.listing_type NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.listings OWNER TO ai_user;

--
-- Name: listings_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_user
--

CREATE SEQUENCE public.listings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.listings_id_seq OWNER TO ai_user;

--
-- Name: listings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_user
--

ALTER SEQUENCE public.listings_id_seq OWNED BY public.listings.id;


--
-- Name: photos; Type: TABLE; Schema: public; Owner: ai_user
--

CREATE TABLE public.photos (
    id integer NOT NULL,
    listing_id integer NOT NULL,
    s3_key character varying(512) NOT NULL,
    url character varying(1024) NOT NULL,
    size_bytes integer,
    content_hash character varying(128),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.photos OWNER TO ai_user;

--
-- Name: photos_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_user
--

CREATE SEQUENCE public.photos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.photos_id_seq OWNER TO ai_user;

--
-- Name: photos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_user
--

ALTER SEQUENCE public.photos_id_seq OWNED BY public.photos.id;


--
-- Name: reminders; Type: TABLE; Schema: public; Owner: ai_user
--

CREATE TABLE public.reminders (
    id integer NOT NULL,
    text text NOT NULL,
    remind_at timestamp without time zone NOT NULL,
    user_id integer,
    is_sent boolean NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reminders OWNER TO ai_user;

--
-- Name: reminders_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_user
--

CREATE SEQUENCE public.reminders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reminders_id_seq OWNER TO ai_user;

--
-- Name: reminders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_user
--

ALTER SEQUENCE public.reminders_id_seq OWNED BY public.reminders.id;


--
-- Name: user_calendar; Type: TABLE; Schema: public; Owner: ai_user
--

CREATE TABLE public.user_calendar (
    id integer NOT NULL,
    telegram_id character varying(64) NOT NULL,
    calendar_id character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_calendar OWNER TO ai_user;

--
-- Name: user_calendar_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_user
--

CREATE SEQUENCE public.user_calendar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_calendar_id_seq OWNER TO ai_user;

--
-- Name: user_calendar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_user
--

ALTER SEQUENCE public.user_calendar_id_seq OWNED BY public.user_calendar.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: ai_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    telegram_id character varying(64),
    role character varying(32) NOT NULL,
    access_expires_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO ai_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO ai_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: access_tokens id; Type: DEFAULT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.access_tokens ALTER COLUMN id SET DEFAULT nextval('public.access_tokens_id_seq'::regclass);


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: chat_messages id; Type: DEFAULT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.chat_messages ALTER COLUMN id SET DEFAULT nextval('public.chat_messages_id_seq'::regclass);


--
-- Name: listings id; Type: DEFAULT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.listings ALTER COLUMN id SET DEFAULT nextval('public.listings_id_seq'::regclass);


--
-- Name: photos id; Type: DEFAULT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.photos ALTER COLUMN id SET DEFAULT nextval('public.photos_id_seq'::regclass);


--
-- Name: reminders id; Type: DEFAULT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.reminders ALTER COLUMN id SET DEFAULT nextval('public.reminders_id_seq'::regclass);


--
-- Name: user_calendar id; Type: DEFAULT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.user_calendar ALTER COLUMN id SET DEFAULT nextval('public.user_calendar_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: access_tokens; Type: TABLE DATA; Schema: public; Owner: ai_user
--

COPY public.access_tokens (id, token, expires_at, created_at) FROM stdin;
5	pi4FXLrgP7_O3yd0Y1Dl-EjriKarjIv3Qr983Z2-vHs	\N	2025-08-27 13:02:51.497992
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: ai_user
--



--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: ai_user
--



--
-- Data for Name: listings; Type: TABLE DATA; Schema: public; Owner: ai_user
--



--
-- Data for Name: photos; Type: TABLE DATA; Schema: public; Owner: ai_user
--

COPY public.photos (id, listing_id, s3_key, url, size_bytes, content_hash, created_at) FROM stdin;
\.


--
-- Data for Name: reminders; Type: TABLE DATA; Schema: public; Owner: ai_user
--

COPY public.reminders (id, text, remind_at, user_id, is_sent, created_at, updated_at) FROM stdin;
15	╨Ч╨░╨║╨╛╨╜╤З╨╕╤В╤М ╨▓╨╕╨┤╨╡╨╛	2025-08-27 16:10:00	850635215	t	2025-08-27 13:08:31.000459	2025-08-27 13:10:00.425541
16	╨┐╨╛╨╖╨░╨▓╤В╤А╨░╨║╨░╤В╤М	2025-08-28 10:53:00	850635215	t	2025-08-28 07:53:04.161306	2025-08-28 07:54:00.537768
17	╨┐╨╛╨╖╨░╨▓╤В╤А╨░╨║╨░╤В╤М	2025-08-28 10:54:00	850635215	t	2025-08-28 07:53:25.211368	2025-08-28 07:54:00.61659
\.


--
-- Data for Name: user_calendar; Type: TABLE DATA; Schema: public; Owner: ai_user
--

COPY public.user_calendar (id, telegram_id, calendar_id, created_at, updated_at) FROM stdin;
1	850635215	bengaminplay@gmail.com	2025-08-21 21:53:07.371342	2025-08-21 21:53:07.371342
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ai_user
--

COPY public.users (id, name, telegram_id, role, access_expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Name: access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_user
--

SELECT pg_catalog.setval('public.access_tokens_id_seq', 5, true);


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_user
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 56, true);


--
-- Name: chat_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_user
--

SELECT pg_catalog.setval('public.chat_messages_id_seq', 164, true);


--
-- Name: listings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_user
--

SELECT pg_catalog.setval('public.listings_id_seq', 443, true);


--
-- Name: photos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_user
--

SELECT pg_catalog.setval('public.photos_id_seq', 9, true);


--
-- Name: reminders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_user
--

SELECT pg_catalog.setval('public.reminders_id_seq', 17, true);


--
-- Name: user_calendar_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_user
--

SELECT pg_catalog.setval('public.user_calendar_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: access_tokens access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.access_tokens
    ADD CONSTRAINT access_tokens_pkey PRIMARY KEY (id);


--
-- Name: access_tokens access_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.access_tokens
    ADD CONSTRAINT access_tokens_token_key UNIQUE (token);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: listings listings_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT listings_pkey PRIMARY KEY (id);


--
-- Name: photos photos_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_pkey PRIMARY KEY (id);


--
-- Name: reminders reminders_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_pkey PRIMARY KEY (id);


--
-- Name: user_calendar user_calendar_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.user_calendar
    ADD CONSTRAINT user_calendar_pkey PRIMARY KEY (id);


--
-- Name: user_calendar user_calendar_telegram_id_key; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.user_calendar
    ADD CONSTRAINT user_calendar_telegram_id_key UNIQUE (telegram_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_telegram_id_key; Type: CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_telegram_id_key UNIQUE (telegram_id);


--
-- Name: ix_chat_messages_telegram_id; Type: INDEX; Schema: public; Owner: ai_user
--

CREATE INDEX ix_chat_messages_telegram_id ON public.chat_messages USING btree (telegram_id);


--
-- Name: photos photos_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ai_user
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict p2cmWEOoBNQiNm4AqIkt74doaNspkxjKmOAgC822RFjRDa9eaMyPBEf7pPd90bK

